{% extends 'auctions/layout.html' %}
{% load index %}
{% block body %}
{% if grouplist is True %}
<p>Categories</p>
<div class="card">
<ul class="list-group list-group-flush">
{% for group in group_lists %}
<li class="list-group-item"><a href="{% url 'grouplist' group.text %}">{{group.text}}</a></li>
{% empty %}
<li class="list-group-item">No cateogry</li>
{% endfor %}
</ul>
</div>
{% else %}
<h2>{{group.text}}</h2>
<div  style="display:flex; width:90vw;flex-direction: column;">
    {% for item in item_lists %}
    <div class="card" style="width: 80vw; flex-direction: row; margin-top: 10px; margin-bottom: 10px;">
      <img class="card-img-top" style="max-width: 20vw; height: auto;"src="{{item.image}}" alt="{{item.title}}">
      <div class="card-body">
        <h5 class="card-title" >
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <a href="{% url 'listing_page' item.id %}">{{item.title}}
          </a>
       </div>
         </h5>
         <p class="card-text">{{item.description}}</p>

         <p class="card-text">Current price : ${{bids|index:forloop.counter0}}</p>
      </div>
         </div>
      {% empty %}
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">
               No Item
            </h5>
         </div>
      </div>
      {% endfor %}
</div>
{% endif %}


{% endblock %}