{% extends 'auctions/layout.html' %}

{% block body %}
<h3>Create a New listing</h3>

<form action="{% url 'create_list' %}" method="POST" >
    {% csrf_token %}    
    <div class="form-group">
        <label for="title">Name </label>    
        <input type="text" name="title" class="form-control" required >
    </div>
    <div class="form-group">
        <label for="description">Description of Listing :</label>
        <textarea  name="description" id="description" class="form-control" required ></textarea>
    </div>
    <div class="form-group">
        <label for="bid">Initial Bid </label>
        <input type="number" name="bid" id="bid" class="form-control" required >
    </div>
    <div class="form-group">
        <label for="image">Image of listing</label>
        <input type="url" name="image"  id="image" class="form-control">
    </div>
    <div class="form-group">
        <label for="groups">Select a Catogery </label>
        <select name="group" id="groups" class="form-control">
        <option value="None">No Catogery</option>
            {% for group_name in group_list %}
        <option value={{group_name.id}}>{{group_name.text}}</option>
        {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}