{% extends "auctions/layout.html" %}
{% load index %}
{% block body %}
    <h2>Active Listings</h2>
    
    <div  style="display:flex; width:90vw;flex-direction: column;">
    {% for active_list in active_lists%}
      <!--<li><ul>
          <li><a href="{% url 'listing_page' active_list.id %}">{{active_list.title}}</a></li>
          <li>{{active_list.description}}</li>
          <li>{{active_list.belongs_to.text}}</li>
          <li>{{active_list.owner.username}}</li>
          <li><img src="{{active_list.image}}"></li>
          <li>{{bids|index:forloop.counter0}}</li>
          {% if user.is_authenticated   %}
          {% if active_list in watchlist_list %}
          <form action="{% url 'watchlist' %}" method="POST">
          {% csrf_token %}
          <input type="number" hidden name="id" value="{{active_list.id}}">
          <input type="text" hidden name="todo" value="remove">
          <button type="submit">Remove from watchlist</button>
          </form>
          {% else %}
          <form action="{% url 'watchlist' %}" method="POST">
          {% csrf_token %}
          <input type="number" hidden name="id" value="{{active_list.id}}">
          <input type="text" hidden name="todo" value="add">
          <button type="submit">Add to watchlist</button>
          </form>
          {% endif %}
          {% endif %}
          </ul>
      </li>-->
      
        <div class="card" style="width: 80vw; flex-direction: row; margin-top: 10px; margin-bottom: 10px;">
          <img class="card-img-top" style="max-width: 20vw; height: auto;"src="{{active_list.image}}" alt="{{active_list.title}}">
          <div class="card-body">
            <h5 class="card-title" >
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <a href="{% url 'listing_page' active_list.id %}">{{active_list.title}}
            </a>
            <!--{% if user.is_authenticated   %}
            {% if active_list in watchlist_list %}
            <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="number" hidden name="id" value="{{active_list.id}}">
            <input type="text" hidden name="todo" value="remove">
            
            <button type="submit" class="btn btn-sm btn-secondary">Remove from watchlist</button>
            </form>
            {% else %}
            <form action="{% url 'watchlist' %}" method="POST">
            {% csrf_token %}
            <input type="number" hidden name="id" value="{{active_list.id}}">
            <input type="text" hidden name="todo" value="add">
            
            <button type="submit" class="btn btn-sm btn-primary">Add to watchlist</button>
            </form>
            {% endif %}
            {% endif %}-->
          </div>
            </h5>
            <p class="card-text">{{active_list.description}}</p>
            
            <p class="card-text">Current price : ${{bids|index:forloop.counter0}}</p>
          </div>
        </div>
    
      {% endfor %}
     </div>
{% endblock %}