{% extends 'auctions/layout.html' %}

{% block body %}
{% if message is not None %}
<div class="alert alert-warning" role="alert">
{{message}}
</div>
{% endif %}
<div class="container-fluid row" >
    <div class="col col-7">
    <img src="{{listing_details.image}}" class="image-fluid" style="max-width: 100%;height: auto;"p;y>
    </div>
    <div class="col col-5">
        <div style="display: flex; flex-direction: row; align-items: center;" ><h2>{{listing_details.title}}</h2>
            {% if close_option is True %}
            {% if listing_details.status is True %}
            <form action="{% url 'close_listing' listing_details.id %}" method="POST" style="padding-left: 3rem;"> 
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Close the list</button>
            </form>
            {% endif %}
            {% endif %}
            {% if user.is_authenticated   %}
            {% if listing_details in watchlist_list %}
            <form action="{% url 'watchlist' %}" method="POST" style="padding-left: 3rem;">
            {% csrf_token %}
            <input type="number" hidden name="id" value="{{listing_details.id}}">
            
            <input type="text" hidden name="todo" value="remove">
            <button type="submit" class="btn btn-sm btn-secondary">Remove from watchlist</button>
            </form>
            {% else %}
            <form action="{% url 'watchlist' %}" method="POST" style="padding-left: 3rem;">
            {% csrf_token %}
            <input type="number" hidden name="id" value="{{listing_details.id}}">
            
            <input type="text" hidden name="todo" value="add">
            <button type="submit" class="btn btn-sm btn-primary">Add to watchlist</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        {% if listing_details.status is False %}
        <div class="alert alert-success" role="alert">
            <span>Auction is Closed</span>
            
            {%  if user.is_authenticated %}
            {% if listing_details.won_by.bidded_by == request.user or listing_details.owner == request.user%} 
              <span>,Won By: {{listing_details.won_by.bidded_by.username}}</span>
            {% endif %}
            {% endif %}
          </div>

        {% endif %}
        <h6>{{listing_details.description}}</h6>
        {% if listing_details.belongs_to is None %}
        <h6>No Cateogery is listed</h6>
        {% else %}
        <h6>{{listing_details.belongs_to}}</h6>
        {% endif %}
        <h6>by {{listing_details.owner.username}}</h6>
        <h6>Current Bid:{{bid_data}}</h6>
        
        {% if user.is_authenticated %}
        {% if listing_details.status is True %}
        <form action="{% url 'listing_page' listing_details.id %}" method="POST" class='form-inline'>
            {% csrf_token %}
            <input type="number" name="bid">
            <button type="submit" class="btn btn-primary " style="margin-left:1rem ;">Bid</button>
            </form>
         {% endif %}
            <form action="{% url 'comment_view' listing_details.id %}" method="POST">
             {% csrf_token %}
             <div class="form-group">
            <label for="comment">Comment</label>
            <textarea name="comment_text" cols="10" id="comment" rows="10" class="form-control"></textarea></div>
            <button type="submit" class="btn btn-primary">Post</button>
            </form>
       
        {% endif %}
    </div>
    </div>
</div>
<br><br>
<h2>Comments</h2>
<hr>
{% for comments in comments_list %}
    <div class="row container-fluid">
       <p>{{comments.comment_by}} : </p>
       <p>{{comments.text}}</p>
       <hr>
   </div>
{% empty %}
<div >
<p>No comments</p>
</div>
{% endfor %}

{% endblock %}