{% extends 'auctions/layout.html' %}
{% block body %}
<h2>Listing Won</h2>
<div  style="display:flex; width:90vw;flex-direction: column;">
    {% for won in wonlists %}
      <!--<li><a href="{% url 'listing_page' won.id %}">{{won.title}}</a></li>-->
      <div class="card" style="width: 90vw; flex-direction: row; margin-top: 10px; margin-bottom: 10px;">
        <img class="card-img-top" style="max-width: 20vw; height: auto;"src="{{won.image}}" alt="{{won.title}}">
        <div class="card-body">
          <h5 class="card-title" >
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <a href="{% url 'listing_page' won.id %}">{{won.title}}
          </a>
        </div>
            </h5>
            <p class="card-text">{{won.description}}</p>
            
            <p class="card-text">Won at price of : ${{won.won_by.bid}}</p>
          </div>
        </div>
      {% empty %}
      <p>Empty</p>
    {% endfor %}
      </div>
{% endblock %}